# Assignment - 2

In [2]:
import pandas as pd

In [3]:
import re

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [3]:
string = "Python Exercises, PHP excercises."
pattern = r"\W"
replacement = ":"

result = re.subn(pattern,replacement,string)
print(result)

('Python:Exercises::PHP:excercises:', 5)

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [4]:
df = pd.DataFrame({'SUMMARY':['hello, world!','XXXXX test','123four, five:; six...']})
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [5]:
df = df.replace(regex = "[(,).,;:?!0-9X*]",value = "")
df

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [6]:
def str_fun(string):
    str_pattern = r"\b\d{4}\b"
    regex_pattern = re.compile(str_pattern)
    result = regex_pattern.findall(string)
    return(result)

str_fun("0 45 343 3465 9753 465774 75452 9755 5785")

['3465', '9753', '9755', '5785']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [7]:
def str_fun(string):
    str_pattern = r"\b\d{3,5}\b"
    regex_pattern = re.compile(str_pattern)
    result = regex_pattern.findall(string)
    return(result)

str_fun("0 45 343 3465 9753 465774 75452 9755 5785")

['343', '3465', '9753', '75452', '9755', '5785']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [11]:
sample_text =["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"]
for result in sample_text:
    result= re.sub(r"[()]","",result)
    print(result)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [36]:
file = open("regexdata.txt","a")

sample_text =["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"]
for result in sample_text:
    result= re.sub(r"\([^)]*\)","\n",result)
    file.write(result)

file.close()

    
    #print(result)
    
file = open("regexdata.txt","r")
print(file.read())

example
hr@fliprobo
github
Hello
Data

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [57]:
sample_text = "ImportanceOfRegularExpressionsInPython"
pattern = re.compile(r"[A-Z][a-z]+")
result = re.findall(pattern,sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [67]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def str_fun(string):
    pattern = re.compile(r"([0-9]+)")
    result = pattern.sub(r" \1",string)
    return result

ans = str_fun(sample_text)
print(ans)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [77]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def str_fun(string):
    pattern = re.compile(r"([0-9]+)")
    result = pattern.sub(r" \1 ",string)
    return result

ans = str_fun(sample_text)
print(ans)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [78]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [90]:
df.insert(1,'first_five_letters',df['Country'])
df

,Country,first_five_letters,first_five_letter,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Switzerland,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Iceland,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Denmark,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Norway,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,Canada,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Rwanda,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Benin,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Syria,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Burundi,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Togo,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [362]:
pattern = r"[\b\w{6}\b]"
mask = df['first_five_letters'].str.contains()
df[mask].head(10)

#pat = r"[\b\w{6}\b]"
#df[first_five_letter]= df['Country'].str.extract(pat,flags = re.I)
#df

TypeError: StringMethods.contains() missing 1 required positional argument: 'pat'

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [140]:
string = "This_is_DataScience123Assignment"
pattern = r"^[0-9a-zA-Z_]+"
ans = re.search(pattern,string)
print("Matching string : ",ans)

Matching string :  <re.Match object; span=(0, 32), match='This_is_DataScience123Assignment'>

Question 12- Write a Python program where a string will start with a specific number.

In [145]:
string = "123_Hello.."
pattern = r"^1.*"
result = re.search(pattern,string)
print(result)

<re.Match object; span=(0, 11), match='123_Hello..'>

Question 13- Write a Python program to remove leading zeros from an IP address

In [153]:
string = "192.010.102.001"
result = re.sub('\.[0]*','.',string)
print(result)

192.10.102.1

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [364]:
import datetime
from datetime import datetime

In [174]:
file = open("date.txt","a")

sample_text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"

for result in sample_text:
    file.write(result)

file.close()

In [180]:
file = open("date.txt","r")
text = file.read()
print(text)
match = re.search(r"\d+\d+\d{4}",text)

datetime.strftime(text, '%B %d %Y').strftime('%B-%d-%Y')

file.close()

On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country

TypeError: descriptor 'strftime' for 'datetime.date' objects doesn't apply to a 'str' object

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [193]:
import re

sample_text = "The quick brown fox jumps over the lazy dog."
pattern = "fox|dog|horse"

x = re.findall(pattern,sample_text)
print("matched : ",x)

matched :  ['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [182]:
sample_text = "The quick brown fox jumps over the lazy dog."
pattern = "fox"

matches = re.finditer(pattern, sample_text)
for match in matches:
    print(match)

<re.Match object; span=(16, 19), match='fox'>

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [198]:
sample_text = "Python exercises, PHP exercises, C# exercises"
pattern = "exercises"

result = re.findall(pattern, sample_text)
print("matched : ",result)

matched :  ['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [199]:
sample_text = "The quick brown fox jumps over the lazy fox."
pattern = "fox"

matches = re.finditer(pattern, sample_text)
for match in matches:
    print(match)

<re.Match object; span=(16, 19), match='fox'>
<re.Match object; span=(40, 43), match='fox'>

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [212]:
def dates(date_str):
        result = re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2}) ', '\\3-\\2-\\1', date_str)
        return(result)
date_str = "1997-9-2"
print("YYYY-MM-DD: ",date_str)
print("DD-MM-YYYY: ",dates(date_str))

YYYY-MM-DD:  1997-9-2
DD-MM-YYYY:  1997-9-2

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [274]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = "[0-9]*.[0-9][0-9]+"
regex_pattern = re.compile(pattern)
result = regex_pattern.findall(sample_text)
print(result)

['01.12', ' 0132', '.123', '2.31875', ' 145', '3.01', ' 27', '.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [275]:
string = "This is the 25th day of our internship and this is our 2nd assignment"
pattern = r"\d+"
matches = re.finditer(pattern, string)
for match in matches:
    print(match)

<re.Match object; span=(12, 14), match='25'>
<re.Match object; span=(55, 56), match='2'>

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [278]:
sample_text = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
digits = re.findall("\d+",sample_text)
print(digits)
print("Max value : ",max(digits))

['947', '896', '926', '524', '734', '950', '642']
Max value :  950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [292]:
sample_text = "RegularExpressionIsAnImportantTopicInPython"
pattern = r"(\w)([A-Z])"
replacement = r"\1 \2"
x = re.sub(pattern,replacement,sample_text) 
print(x)

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [296]:
string = "Hello abc Xys Vd fV"
pattern = r"[A-Z]+[a-z]+"
result = re.findall(pattern,string)
print(result)

['Hello', 'Xys', 'Vd']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [311]:
def str_fun(sample_text):
    x = sample_text.split()
    elist = []
    for i in x:
        if i not in elist:
            elist.append(i)
            
    return ' '.join(elist)
sample_text = "Hello hello world world"
print(sample_text)   
print(str_fun(sample_text))

Hello hello world world
Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [319]:
string = "HelloSiri123"
string1 = "HelloSiri123@"
pattern = r"[a-zA-Z0-9]+$"
result = re.search(pattern,string)
result1 = re.search(pattern,string1)
print(result)
print(result1)

<re.Match object; span=(0, 12), match='HelloSiri123'>
None

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [327]:
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r"(#\w+)"
result = re.findall(pattern,sample_text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [336]:
sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r"<U\+[A-Za-z0-9]+>"
replacement =" "
result = re.sub(pattern,replacement,sample_text)
print(result)

@Jags123456 Bharat band on 28??<ed>  <ed>  Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [346]:
from datetime import datetime

In [337]:
file = open("dates.txt","a")

sample_text = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999"

for result in sample_text:
    file.write(result)

file.close()

In [351]:
file = open("dates.txt","r")
text = file.read()
print(text,"\n")
dates = re.findall("\d{2}-d{2}-d{4}",text)
print(dates)
file.close()

Ron was born on 12-09-1992 and he was admitted to school 15-12-1999

[]

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [360]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = re.finditer(r"([0-9a-zA-Z]{2,3})",sample_text)
print("2-3 length string")
for i in result:
     print(i.group())

2-3 length string
The
fol
low
ing
exa
mpl
cre
ate
an
Arr
ayL
ist
wit
cap
aci
ty
of
50
ele
men
ts
ele
men
ts
are
the
add
ed
to
the
Arr
ayL
ist
and
the
Arr
ayL
ist
is
tri
mme
acc
ord
ing
ly