# Assignment - 4

In [3]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\monty\appdata\local\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\monty\appdata\local\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [5]:
# importing required classes
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [6]:
driver = webdriver.Chrome()

In [7]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [ ]:
//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]/sup/a

In [8]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [7]:
rank_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]/sup/a ')
for i in rank_tags:
    num = i.text
    rank.append(num)

In [9]:
i = 1
n = 30
for i in range(i,n+1):
    rank.append(i)
    i+=1

In [10]:
name_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name_tags:
    try:
        names = i.text
        name.append(names)
    except NoSuchElementException:
        name.append('--')

In [11]:
identity = [i.split('[', 1)[0] for i in name]

In [12]:
artist_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist_tags:
    try:
        aname = i.text
        artist.append(aname)
    except NoSuchElementException:
        artist.append('--')

In [13]:
upload_date_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in upload_date_tags:
    try:
        udate = i.text
        upload_date.append(udate)
    except NoSuchElementException:
        upload_date.append('--')

In [14]:
views_tags = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in views_tags:
    try:
        view = i.text
        views.append(view)
    except NoSuchElementException:
        views.append('--')

In [15]:
print(len(rank),len(identity),len(artist),len(upload_date),len(views))

30 30 30 30 30

In [16]:
df = pd.DataFrame({'Rank ':rank,'Name ':identity,'Artist ':artist,'Upload Date ':upload_date,'Views (in Billion) ':views})
df

,Rank,Name,Artist,Upload Date,Views (in Billion)
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.32
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.41
2,3,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.89
3,4,"""Bath Song""",Cocomelon - Nursery Rhymes,"May 2, 2018",6.66
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.23
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",6.22
6,7,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,"May 24, 2018",6.01
7,8,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.75
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.18
9,10,"""Gangnam Style""",Psy,"July 15, 2012",5.10
10,11,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",5.09
11,12,"""Dame Tu Cosita""",Ultra Records,"April 5, 2018",4.59
12,13,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.57
13,14,"""Axel F""",Crazy Frog,"June 16, 2009",4.45
14,15,"""Sugar""",Maroon 5,"January 14, 2015",4.02
15,16,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,"June 25, 2018",4.01
16,17,"""Counting Stars""",OneRepublic,"May 31, 2013",4.00
17,18,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.98
18,19,"""Roar""",Katy Perry,"September 5, 2013",3.98
19,20,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.89
20,21,"""Sorry""",Justin Bieber,"October 22, 2015",3.78
21,22,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,"May 10, 2011",3.77
22,23,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.76
23,24,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.75
24,25,"""Perfect""",Ed Sheeran,"November 9, 2017",3.70
25,26,"""Dark Horse""",Katy Perry,"February 20, 2014",3.70
26,27,"""Let Her Go""",Passenger,"July 25, 2012",3.64
27,28,"""Faded""",Alan Walker,"December 3, 2015",3.60
28,29,"""Girls Like You""",Maroon 5,"May 31, 2018",3.58
29,30,"""Lean On""",Major Lazer Official,"March 22, 2015",3.57

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [17]:
driver = webdriver.Chrome()

In [18]:
driver.get("https://www.bcci.tv/")

In [19]:
# international bydfault selected
fixture = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [20]:
series = []
place = []
date = []
time = []

In [21]:
series_tags = driver.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div/div/div/h5')
for i in series_tags:
    try:
        series_name = i.text
        series.append(series_name)
    except NoSuchElementException:
        series.append('--')

In [22]:
place1 = []
place1_tags = driver.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div[2]/div/span[1]')
for i in place1_tags:
    try:
        place1_name = i.text
        place1.append(place1_name)
    except NoSuchElementException:
        place1.append('--')

In [23]:
place2 = []
place2_tags = driver.find_elements(By.XPATH,'//div[@class="match-card match-card-fw match-card-up ng-scope"]/div[2]/div/span[2]')
for i in place2_tags:
    try:
        place2_name = i.text
        place2.append(place2_name)
    except NoSuchElementException:
        place2.append('--')

In [35]:
date_tags = driver.find_elements(By.XPATH,'//div[@class="match-info"]/div[2]/div[1]')
for i in date_tags:
    try:
        dates = i.text
        date.append(dates)
    except NoSuchElementException:
        date.append('--')

In [45]:
time_tags = driver.find_elements(By.XPATH,'//div[@class="match-info"]/div[2]/div[2]')
for i in time_tags:
    try:
        times= i.text
        time.append(times)
    except NoSuchElementException:
        time.append('--')

In [47]:
df1 = pd.DataFrame({'place1':place1,'place2':place2})
df1

                                              place1    place2
0              Sylhet International Cricket Stadium,    Sylhet
1              Sylhet International Cricket Stadium,    Sylhet
2       Nassau County International Cricket Stadium,  New York
3       Nassau County International Cricket Stadium,  New York
4       Nassau County International Cricket Stadium,  New York
5  Central Broward Park & Broward County Stadium,...   Florida
6                                Harare Sports Club,    Harare
7                                Harare Sports Club,    Harare
8                                Harare Sports Club,    Harare

In [69]:
place = df1.place1 + df1.place2

In [70]:
df = pd.DataFrame({'Series ':series,'Place ':place,'Date ':date,'Time ':time})

In [71]:
df

,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,Sylhet","6 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium,Sylhet","9 MAY, 2024",3:30 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,Ne...","5 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,Ne...","9 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium,Ne...","12 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","6 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","7 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","10 JULY, 2024",8:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [72]:
driver = webdriver.Chrome()

In [73]:
driver.get("https://www.statisticstimes.com/")

In [78]:
economy = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [79]:
india = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [80]:
indian_state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
indian_state.click()

In [81]:
rank = []
state = []
gsdp23_24 = []
gsdp22_23 = []
gsdp21_22 = []
share21_22 = []
gdp = []

In [82]:
rank_tags = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank_tags:
    try:
        num = i.text
        rank.append(num)
    except NoSuchElementException:
        rank.append('--')

In [83]:
state_tags = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in state_tags:
    try:
        sname = i.text
        state.append(sname)
    except NoSuchElementException:
        state.append('--')

In [84]:
gsdp23_24_tags = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp23_24_tags:
    try:
        gsdp2324 = i.text
        gsdp23_24.append(gsdp2324)
    except NoSuchElementException:
        gsdp23_24.append('--')

In [85]:
gsdp22_23_tags = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp22_23_tags:
    try:
        gsdp2223 = i.text
        gsdp22_23.append(gsdp2223)
    except NoSuchElementException:
        gsdp22_23.append('--')

In [86]:
gsdp21_22_tags = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in gsdp21_22_tags:
    try:
        gsdp2122 = i.text
        gsdp21_22.append(gsdp2122)
    except NoSuchElementException:
        gsdp21_22.append('--')

In [87]:
share21_22_tags = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in share21_22_tags:
    try:
        share2122 = i.text
        share21_22.append(share2122)
    except NoSuchElementException:
        share21_22.append('--')

In [88]:
gdp_tags = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[7]')
for i in gdp_tags:
    try:
        igdp = i.text
        gdp.append(igdp)
    except NoSuchElementException:
        gdp.append('--')

In [89]:
df = pd.DataFrame({'Rank ':rank,'State ':state,'GSDP (23-24) ':gsdp23_24,'GSDP (22-23) ':gsdp22_23,'GSDP (21_22) ':gsdp21_22,'Share (21-22) ':share21_22,'GDP ($Billion) ':gdp})
df

,Rank,State,GSDP (23-24),GSDP (22-23),GSDP (21_22),Share (21-22),GDP ($Billion)
0,1,Maharashtra,-,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%,257.484
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%,177.456
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%,159.334
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%,153.324
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%,150.084
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%,145.913
10,11,Kerala,-,"1,046,188","934,542",3.96%,124.764
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%,117.660
12,13,Haryana,"1,095,535","984,055","868,905",3.68%,116.001
13,14,Odisha,"832,790","753,177","662,886",2.81%,88.497
14,15,Bihar,-,"751,396","650,302",2.76%,86.817
15,16,Punjab,"736,423","676,164","617,192",2.62%,82.397
16,17,Assam,"565,401","493,167","411,454",1.74%,54.930
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%,54.806
18,19,Jharkhand,-,"393,722","358,863",1.52%,47.909
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%,35.664
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%,25.813
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%,22.984
22,23,Goa,-,"93,672","84,266",0.36%,11.250
23,24,Tripura,-,"72,636","62,550",0.27%,8.351
24,25,Chandigarh,-,"54,285","46,096",0.20%,6.154
25,26,Puducherry,-,"49,643","43,810",0.19%,5.849
26,27,Meghalaya,"47,381","42,697","38,785",0.16%,5.178
27,28,Sikkim,-,"42,756","37,557",0.16%,5.014
28,29,Manipur,-,-,"36,594",0.16%,4.885
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%,4.643
30,31,Nagaland,-,"35,643","31,038",0.13%,4.144
31,32,Mizoram,-,-,"27,824",0.12%,3.715
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%,1.385

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [90]:
driver = webdriver.Chrome()

In [91]:
driver.get("https://github.com/")

In [93]:
open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [94]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [95]:
r_title = []
r_description = []
contributors = []
language = []

In [96]:
r_title_tags = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in r_title_tags:
    try:
        title = i.text
        r_title.append(title)
    except NoSuchElementException:
        r_title.append('--')

In [97]:
r_description_tags = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in r_description_tags:
    try:
        description = i.text
        r_description.append(description)
    except NoSuchElementException:
        r_description.append('--')

In [98]:
contributors_tags = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]/a[1]')
for i in contributors_tags:
    try:
        contributor = i.text
        contributors.append(contributor)
    except NoSuchElementException:
        contributors.append('--')

In [99]:
language_tags = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/div[2]/span[1]')
for i in language_tags:
    try:
        lang = i.text
        language.append(lang)
    except NoSuchElementException:
        language.append('--')

In [100]:
df = pd.DataFrame({'Repository Title ':r_title,'Repository Description ':r_description,'Contributors Count ':contributors,'Language used ':language})
df

,Repository Title,Repository Description,Contributors Count,Language used
0,KindXiaoming / pykan,Kolmogorov Arnold Networks,"6,408",Jupyter Notebook
1,xM4ddy / OFGB,GUI Tool To Removes Ads From Various Places Ar...,"2,278",C#
2,rasbt / LLMs-from-scratch,"Implementing a ChatGPT-like LLM from scratch, ...","14,637",Jupyter Notebook
3,IvanGlinkin / CCTV,Close-Circuit Telegram Vision revolutionizes l...,677,JavaScript
4,karpathy / llm.c,"LLM training in simple, raw C/CUDA","18,044",Cuda
5,Blealtan / efficient-kan,An efficient pure-PyTorch implementation of Ko...,302,Python
6,lmstudio-ai / lms,LM Studio in your terminal,229,TypeScript
7,solana-labs / solana,"Web-Scale Blockchain for fast, secure, scalabl...","12,216",Rust
8,fastfetch-cli / fastfetch,"Like neofetch, but much faster because written...","4,789",C
9,pydantic / logfire,Uncomplicated Observability for Python and bey...,733,Python
10,Stirling-Tools / Stirling-PDF,#1 Locally hosted web application that allows ...,"23,564",Java
11,wandb / openui,OpenUI let's you describe UI using your imagin...,"7,070",TypeScript
12,reorproject / reor,Private & offline AI personal knowledge manage...,"4,896",TypeScript
13,systemdesign42 / system-design,A resource to help you learn system design.,"8,792",Built by
14,HVision-NKU / StoryDiffusion,Create Magic Story!,766,Jupyter Notebook
15,mlc-ai / web-llm,Bringing large-language models and chat to web...,"9,394",TypeScript
16,huggingface / candle,Minimalist ML framework for Rust,"13,605",Rust
17,MaaAssistantArknights / MaaAssistantArknights,《明日方舟》小助手，全日常一键长草！| A one-click tool for the d...,"11,929",C++
18,adrianhajdin / banking,Horizon is a modern banking platform for every...,364,TypeScript
19,Profluent-AI / OpenCRISPR,AI-generated gene editing systems,795,Built by
20,langgenius / dify,Dify is an open-source LLM app development pla...,"26,562",TypeScript
21,cpacker / MemGPT,Create LLM agents with long-term memory and cu...,"9,323",Python
22,Universidade-Livre / ciencia-da-computacao,🎓 Um caminho para a educação autodidata em Ciê...,"13,383",Built by
23,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"259,693",Built by
24,tokio-rs / axum,Ergonomic and modular web framework built with...,"16,350",Rust

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [101]:
driver = webdriver.Chrome()

In [102]:
driver.get("https://www.billboard.com/")

In [103]:
billboard_hot_100 = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
billboard_hot_100.click()

In [104]:
song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
weeks_on_board = []

In [105]:
song_name_tags = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li/h3')
for i in song_name_tags:
    try:
        song = i.text
        song_name.append(song)
    except NoSuchElementException:
        song_name.append('--')

In [106]:
artist_name_tags = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[1]/span')
for i in artist_name_tags:
    try:
        artist = i.text
        artist_name.append(artist)
    except NoSuchElementException:
        artist_name.append('--')

In [107]:
last_week_rank_tags = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[4]/span')
for i in last_week_rank_tags:
    try:
        last_week = i.text
        last_week_rank.append(last_week)
    except NoSuchElementException:
        last_week_rank.append('--')

In [108]:
peak_rank_tags = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[5]/span')
for i in peak_rank_tags:
    try:
        peak = i.text
        peak_rank.append(peak)
    except NoSuchElementException:
        peak_rank.append('--')

In [109]:
weeks_on_board_tags = driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[6]/span')
for i in weeks_on_board_tags:
    try:
        weekson = i.text
        weeks_on_board.append(weekson)
    except NoSuchElementException:
        weeks_on_board.append('--')

In [110]:
df = pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name,'Last Week Rank':last_week_rank,'Peak Rank':peak_rank,'Weeks On Board':weeks_on_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,5
97,Spin You Around (1/24),Morgan Wallen,89,24,13
98,Soak City,310babii,82,53,19
99,Selfish,Justin Timberlake,60,19,13

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [111]:
driver = webdriver.Chrome()

In [112]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [113]:
book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []

In [114]:
book_name_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_name_tags:
    try:
        bookname = i.text
        book_name.append(bookname)
    except NoSuchElementException:
        book_name.append('--')

In [115]:
author_name_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_name_tags:
    try:
        authorname = i.text
        author_name.append(authorname)
    except NoSuchElementException:
        author_name.append('--')

In [117]:
volumes_sold_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volumes_sold_tags:
    try:
        sales = i.text
        volumes_sold.append(sales)
    except NoSuchElementException:
        volumes_sold.append('--')

In [118]:
publisher_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher_tags:
    try:
        pub = i.text
        publisher.append(pub)
    except NoSuchElementException:
        publisher.append('--')

In [119]:
genre_tags = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_tags:
    try:
        gen = i.text
        genre.append(gen)
    except NoSuchElementException:
        genre.append('--')

In [120]:
df = pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
url = https://www.imdb.com/list/ls512407256/
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [121]:
driver = webdriver.Chrome()

In [122]:
driver.get("https://www.imdb.com/list/ls512407256/")

In [123]:
name = []
year_span = []
genre = []
run_time = []
ratings = []
votes = []

In [124]:
name_tags = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/a')
for i in name_tags:
    try:
        names = i.text
        name.append(names)
    except NoSuchElementException:
        name.append('--')

In [125]:
year_span_tags = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/span[2]')
for i in year_span_tags:
    try:
        years = i.text
        year_span.append(years)
    except NoSuchElementException:
        year_span.append('--')

In [126]:
genre_tags = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[5]')
for i in genre_tags:
    try:
        gen = i.text
        genre.append(gen)
    except NoSuchElementException:
        genre.append('--')

In [127]:
run_time_tags = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[3]')
for i in run_time_tags:
    try:
        duration = i.text
        run_time.append(duration)
    except NoSuchElementException:
        run_time.append('--')

In [128]:
ratings_tags = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/div/div/span[2]')
for i in ratings_tags:
    try:
        rate = i.text
        ratings.append(rate)
    except NoSuchElementException:
        ratings.append('--')

In [129]:
votes_tags = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p[4]/span[2]')
for i in votes_tags:
    try:
        vote = i.text
        votes.append(vote)
    except NoSuchElementException:
        votes.append('--')

In [130]:
df = pd.DataFrame({'Name':name,'Year Span':year_span,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",60 min,9.2,"2,287,167"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",60 min,8.7,"1,338,065"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",45 min,8.1,"1,083,163"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"315,725"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"276,490"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",60 min,8.9,"657,187"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"163,371"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"115,966"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"436,246"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"139,866"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [131]:
driver = webdriver.Chrome()

In [132]:
driver.get("https://archive.ics.uci.edu/")

In [134]:
show_all_dataset = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/section[2]/div[2]/a')
show_all_dataset.click()

In [135]:
dataset_name = []
datatype = []
task = []
attribute_type = []
no_of_instances = []
no_of_attributes = []
year = []

In [136]:
expand = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand.click()

In [137]:
dataset_name_tags = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/h2/a')
for i in dataset_name_tags:
    try:
        dsname = i.text
        dataset_name.append(dsname)
    except NoSuchElementException:
        dataset_name.append('--')

In [138]:
datatype_tags = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
for i in datatype_tags:
    try:
        dtype = i.text
        datatype.append(dtype)
    except NoSuchElementException:
        datatype.append('--')

In [139]:
task_tags = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[1]')
for i in task_tags:
    try:
        role = i.text
        task.append(role)
    except NoSuchElementException:
        task.append('--')

In [140]:
attribute_type_tags = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[2]/span')
for i in attribute_type_tags:
    try:
        atype = i.text
        attribute_type.append(atype)
    except NoSuchElementException:
        attribute_type.append('--')

In [141]:
no_of_instances_tags = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[3]/span')
for i in no_of_instances_tags:
    try:
        ninstance = i.text
        no_of_instances.append(ninstance)
    except NoSuchElementException:
        no_of_instances.append('--')

In [142]:
no_of_attributes_tags = driver.find_elements(By.XPATH,'//div[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[4]/span')
for i in no_of_attributes_tags:
    try:
        nattribute = i.text
        no_of_attributes.append(nattribute)
    except NoSuchElementException:
        no_of_attributes.append('--')

In [143]:
year_tags = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
for i in year_tags:
    try:
        date = i.text
        year.append(date)
    except NoSuchElementException:
        year.append('--')

In [144]:
df = pd.DataFrame({'Dataset Name':dataset_name,'DataType':datatype,'Task':task,'Attribute Type':attribute_type,'No of Instances':no_of_instances,'No of Attributes':no_of_attributes,'Year':year})
df

,Dataset Name,DataType,Task,Attribute Type,No of Instances,No of Attributes,Year
0,PhiUSIIL Phishing URL (Website),"Real, Categorical, Integer",Computer Science,Tabular,235.8K Instances,54 Features,3/4/2024
1,RT-IoT2022,"Real, Categorical",Engineering,"Tabular, Sequential, Multivariate",123.12K Instances,84 Features,1/5/2024
2,Regensburg Pediatric Appendicitis,"Real, Categorical, Integer",Health and Medicine,"Tabular, Image",782 Instances,59 Features,12/7/2023
3,National Poll on Healthy Aging (NPHA),Categorical,Health and Medicine,Tabular,714 Instances,15 Features,12/6/2023
4,Infrared Thermography Temperature,"Real, Categorical",Health and Medicine,Tabular,1.02K Instances,33 Features,11/21/2023
5,Jute Pest,Categorical,Biology,Image,7.24K Instances,17 Features,11/18/2023
6,Differentiated Thyroid Cancer Recurrence,"Real, Categorical, Integer",Health and Medicine,Tabular,383 Instances,16 Features,10/31/2023
7,Forty Soybean Cultivars from Subsequent Harvests,"Real, Categorical, Integer",Other,Tabular,320 Instances,11 Features,10/29/2023
8,Recipe Reviews and User Feedback,"Real, Categorical, Integer",Computer Science,"Tabular, Other",18.18K Instances,15 Features,10/24/2023
9,RealWaste,,Computer Science,Image,4.75K Instances,,10/18/2023